
.account-container{
    display: flex;
}

.account-operation-panel {

}


.account-content {

}

//.ReactTable .rt-thead {
//    overflow-y: scroll;
//}


.account-operation-panel-container {
    display: flex;
    justify-content: normal;
    flex-direction: column;
}