.editable-cell {
    background: aliceblue;
}

.editable-cell .input {
    margin: -5px 0px -5px 0px;
    height: 24px;
}

.editable-cell .label {
    height: 14px;
}

.selectable-cell {
    background: aliceblue;
}

.selectable-cell .select {
    margin: -5px 0px -5px 0px;
    width: 100%;
}

.secure-denied{
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed !important;
}

.secure-denied:hover::after {
    content: attr(data-title);
}