.editable-cell {
    /*background: aliceblue;*/
    height: 14px;
    cursor: pointer;
}

.editable-cell .input {
    margin: -5px 0px -5px 0px;
    height: 24px;
}

.selectable-cell {
    /*background: aliceblue;*/
    height: 14px;
    cursor: pointer;
}

.selectable-cell .select {
    margin: -5px 0px -5px 0px;
    width: 100%;
}

.secure-denied{
    pointer-events: none;
    cursor: not-allowed !important;
}

.opacity{
    opacity: 0.3;
}

.secure-denied:hover::after {
    content: attr(data-title);
}